<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
 <head>
  <title>Toaster Testing UI</title>
  <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.6.custom.css" /> 
  <link rel="stylesheet" type="text/css" href="css/tablesorter.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  
  <script type="text/javascript" src="js/jquery-1.7.2.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8.22.js"></script>
  <script type="text/javascript" src="js/jquery.tablesorter.js"></script>
  <script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"></script>
  <script src="js/wireit/build/wireit-loader/wireit-loader.js"></script>
  <script>YUI_config.groups.wireit.base = 'js/wireit/build/';</script>

  <link rel="stylesheet" type="text/css" href="css/graph.css" />

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <script type="text/javascript">/* <![CDATA[ */
  	var wireitLayer = null;
    $(document).ready(function(){
		$("#tabs").tabs({
			ajaxOptions: {
				beforeSend: ajaxBeforeSend,
				error: function(xhr, status, index, anchor) {
					$(anchor.hash).html(
						"Couldn't load this tab, please reload." );
				},
				dataType: 'html'
			}
		});
		$('form').live('submit', function() {
			$.ajax({ 
				data: $(this).serialize(), // get the form data
				type: $(this).attr('method'), // GET or POST
				url: $(this).attr('action'),
				beforeSend: ajaxBeforeSend,
				success: function(response) { 
					$('#tabs .ui-tabs-panel:visible').html(response); 
				},
				dataType: 'html'
			});
			/* cancel original event to prevent form submitting */
			return false;
		})
		convert_forms_to_ajax();
		$('#tabs').tabs('select', <%= tab_index(param("t")) || 0 %>);
		$('body').ajaxComplete(function() { convert_forms_to_ajax(); });
		show_loading();
    });
    function convert_forms_to_ajax() {
		$("form").each(
			function(index) {
				var the_form = $(this)
				$(":submit",$(this)).click(function(){
				    if($(this).attr('name')) {
				        $(the_form).append(
				            $("<input type='hidden'/>").attr( { 
				                name: $(this).attr('name'), 
				                value: $(this).attr('value') })
				        );
				    }
				    the_form.submit()
					return false; // cancel original event to prevent form submitting
				});
			}
		);
		$('.tablesorter').tablesorter({widgets: ['zebra']});
    }
    function ajaxBeforeSend(xhr, status) {
		show_loading(status["url"]);
	}
  	function show_loading(url) {
  		msgs = new Array()<% 
  		$tab_loading_messages.each do |tab,msg| %>
  		msgs['<%= tab %>'] = '<%= msg %>'<% 
  		end %>
		page = url ? url.replace(/.*p=([a-z0-9A-Z]+).*/, "$1") : null
  		msg = page ? msgs[page] ? msgs[page] : msgs["default"] : msgs["default"]
  		$('#tabs .ui-tabs-panel').html(
  				'<div style="line-height: 30px; text-align: center;"><img src="media/loading.gif" alt="loading"/><br/>' + msg + '</div>'
  		);
  	}
  	function refresh_current_tab() {
		show_loading();
  		tID = $('#tabs').tabs('option', 'selected');
  		$('#tabs').tabs('load', tID);
  	}
  	function clear_cache_and_reload() {
  		$.ajax({
  			url: "<%= l('clearCache' => '1') %>",
  		}).done(function(response) { 
  			//alert(new XMLSerializer().serializeToString(response));
  			refresh_current_tab();
  		}).error(function(xhr, ajaxOptions, thrownError) { 
  			alert("error: " + xhr.responseText);
  		});
  	}
  /* ]]> */</script>
 </head>
 <body>
  <link rel="stylesheet" type="text/css" href="css/graph.css" />
  <div id="outer">
  <div id="inner">
  	<h1><a href="<%= l("t"=>"","run"=>"","auto"=>"","exec"=>"","task"=>"","exe"=>"","test"=>"","confirmed"=>"","action"=>"") %>">Toaster Testing UI</a></h1>

<%= render_errors() %>

<% begin %>

	<div id="tabs">
	<ul class="header">
	<% 	$tabs.each do |tab| 
		tab.each do |tabID,tabName| %>
		<li id="tab_<%= tabID %>"><a href="<%= l({'p' => tabID}) %>"><span><%= tabName %></span></a></li>
	<% 	end
		end  %>
		<span style="float: right; line-height: 35px;"><a onclick="refresh_current_tab()"><img style="margin: 8px;" src="media/arrow_refresh.png" alt="Refresh" title="Refresh"/></a></span>
	</ul>

<% rescue => ex 
puts ex
puts ex.backtrace
end %>

	</div> <!-- end of div.#tabs -->

	</div>
  </div>
 </body>
</html>