<div style="width: 100%">
<form action="<%= l({'p' => 'lxc'}) %>" method="post">
<input type="hidden" name="sessionID" value="<%= $session['session_id'] %>"/>
<h2>LXC Containers</h2>
<%
require 'toaster/util/lxc'
require 'toaster/agent/agent'
require 'toaster/test/test_orchestrator'

message = nil
lxcs = {}

if $cgi['updateHosts'] != "" && $cgi['lxcHosts'] != ""
	$session['lxcHosts'] = $cgi['lxcHosts']
end

if !$session['lxcHosts'] || $session['lxcHosts'] == ""
	$session['lxcHosts'] = "#{Toaster::Config.host("toaster1")}:8385"
end

def esc_quot(str)
	str.gsub(/"/, '&quot;')
end

begin

duration = 0
if $session['lxcHosts']
	before = Time.new.to_i
	hosts = $session['lxcHosts'].split(/[\s,;]+/)
	lxcs = Toaster::LXC.get_containers_for_hosts(hosts) || []
	after = Time.new.to_i
	duration = after - before
	#puts lxcs.inspect
end

cmd_out = ""
if param("submitShCmd") != ""
	orch = TestOrchestrator.new
	if param("execTarget") == "__all__"
		lxcs.each do |host,lxc|
			orch.add_host(host)
		end
	else
		orch.add_host(param("execTarget"))
	end
	cmd_out = orch.exec_on_all_hosts(param("shCmd") + " 2>&1", false)
end

if lxcs
	count = 0
	changed = false
	lxcs.each do |ip,lxc|
		if param("destroy_#{count}") != ""
			Toaster::TestAgent.invoke(ip, "clean")
			changed = true
		end
		count += 1
	end
	if changed
		hosts = $session['lxcHosts'].split(/[\s,;]+/)
		lxcs = Toaster::LXC.get_containers_for_hosts(hosts) || []
	end
end

rescue => ex
%>
	<div class="error">Error:<br/><%= ex %><br/><pre><%= esc_html(ex.backtrace.join("\n")) %></pre></div>
<% 
end

lxcs ||= {}
%>
This page provides details about the available LXC containers 
(light-weight VMs) which are used for testing purposes.
<h3>Host Machines</h3>
<% if message %>
<div class="info"><%= message %></div>
<% end %>
Host Node(s):<br/>
<textarea name="lxcHosts" style="width: 300px; height: 100px;"><%= $session['lxcHosts'] %></textarea><br/>
<input type="submit" value="Update" name="updateHosts"/><br/>
<% if lxcs %>
<h3>Execute Command</h3>
Shell command to be executed on test host(s) (handle with care!):<br/>
<input type="text" name="shCmd" style="width: 600px;" value="<%= esc_quot(param('shCmd')) %>"/> 
<input type="submit" value="execute" name="submitShCmd"/>
<select name="execTarget">
<option value="__all__"<%= option_selected('execTarget', '__all__') %>>on ALL hosts</option>
<% lxcs.each do |ip,lxc| %>
	<option value="<%= ip %>"<%= option_selected('execTarget', ip) %>>on host <%= ip %></option>
<% end %>
</select>
<br/>
<%
if param("submitShCmd") != ""
	%>
	Output:
	<pre><%= cmd_out %></pre>
	<%
end
%>

<h3>Container Details</h3>
Requesting information from hosts took <%= to_minutes(duration) %>.
<% counter = -1
lxcs.each do |ip,lxc| %>
<h4>Host Machine '<%= ip %>':</h4>
<input type="submit" name="destroy_<%= counter += 1 %>" value="Destroy all Containers (!)"/>
<table class="tablesorter">
	<thead><tr><th>#</th><th>Container Name</th><th>State</th><th>IP Address</th></tr></thead>
	<tbody>
	<% 	i = 0
		lxc.each do |l,config| 
	%>
	<tr><td><%= (i=i+1) %></td><td><%= l %></td><td><%= config['state'] %></td><td><%= config['ip'] %></td></tr>
	<% end %>
	</tbody>
</table>
<% end %>
<% end %>
</form>

<%= get_page_footer() %>
</div>