<div>
<h2>Test Suites</h2>
<%
tests = []
test_suite = nil
test_coverage = nil
state_graph = nil
message = nil

init_mongo() && begin

	require 'toaster/test/test_suite'
	require 'toaster/test/test_coverage'
	require 'toaster/state/state_transition_graph'

	puts "DB inst: #{DB.instance}"

	tests = TestSuite.find()
	if param('test') != ""
		test_suite = TestSuite.load(param('test'))
		if test_suite
			test_suite.test_cases.each do |tc|
				if param("reset_#{tc.uuid}") != ""
					auto_run_uuid = tc.automation_run.uuid
					tc.delete_test_result()
					message = "Successfully dropped results of automation run '#{auto_run_uuid}' " +
						"for test case '#{tc.uuid}' from the database."
					test_suite = TestSuite.load(param('test'))
				end
			end
		end
	end
	if test_suite && param('compCoverage') != ""
		coverage_goal = TestCoverageGoal.new
		coverage_goal.idempotence = param('testIdempotence') != ""
		automation = test_suite.automation
		state_graph = StateTransitionGraph.build_graph_for_automation(automation, coverage_goal)
		test_coverage = TestCoverage.new(test_suite, state_graph)
	end

	set_param("action", nil)
	set_param("confirmed", nil)
	if test_suite && param('action') == "delete"
	        if param('confirmed') == "1"
	                test_suite.delete()
	                load_cache()
	                Toaster::Cache.clear()
	                tests = TestSuite.find()
	                set_param("action", "")
	                set_param("confirmed", "")
	        else
	                message = "<a href='#{l("test" => test_suite.id.to_s, "confirmed" => "1", "action" => "delete")}'>Click here</a> 
	                        to confirm deletion of test suite and all associated automation runs, 
	                        or <a href='#{l("action" => "")}'>click here</a> to cancel."
	        end
	end

rescue => ex
	%>
	<div class="error">ERROR: <%= ex %> : <%= ex.backtrace %></div>
	<%
end

%>
<% if message %>
<div class="info"><%= message %></div>
<% end %>
<form action="<%= l({'p' => 'tests'}) %>" method="post">
<input type="hidden" name="sessionID" value="<%= $session['session_id'] %>" />
<input type="hidden" name="test" value="<%= param('test') %>" />
<table class="tablesorter">
	<thead>
		<tr><th>ID</th><th>Automation</th><th>Prototype</th>
		<th>Test Cases</th><th>Executed</th>
		<th>First Test Started</th><th>Last Test Ended</th>
		<th>Passed</th><th>Failed</th>
<!-- 		<th>Gross Duration</th> -->
		<th>Net Duration</th>
<!-- 		<th>Avg. Gross Duration</th> -->
		<th>Avg. Net Duration</th>
		<th colspan="2">Actions</th></tr>
		</thead>
	<tbody>
	<% tests.each { |suite| 

	num_cases = suite.test_cases.size
	gross = suite.get_gross_duration()
	avg_gross = gross.to_f / num_cases.to_f
	net = suite.get_net_duration()
	num_tests = suite.test_cases.size
	num_tests_finished = suite.test_cases_finished.size
	perc_tests_finished = num_tests_finished.to_f / num_tests.to_f * 100.0
	avg_net = net.to_f / num_tests_finished.to_f
	failed = suite.test_cases_failed
	passed = suite.test_cases_succeeded
	is_active = suite.id.to_s == param('test')
	clazz = is_active ? "active" : ""

	has_cases = !suite.test_cases.empty?
	%>
	<tr class="<%= clazz %>">
		<td><a href="<%= l('test' => suite.id) %>"><%= suite.uuid %></a></td>
		<td>
			<% if suite.automation %>
			<a href="<%= l('auto' => suite.automation.id, 't' => 'auto') %>"><%= suite.automation.name %></a>
			<% else %>
			"n/a"
			<% end %>
		</td>
		<td><%= suite.lxc_prototype %></td>
		<td><%= num_tests %></td>
		<td><%= num_tests_finished %> (<%= format_float(perc_tests_finished) %>%)</td>
		<td><%= !has_cases ? "n/a" : format_time(suite.first_test.start_time) %></td>
		<td><%= !has_cases ? "n/a" : format_time(suite.last_test.end_time) %></td>
		<td><%= passed.size %></td>
		<td><%= failed.size %></td>
	<!-- 	<td><%= !has_cases ? "n/a" : to_minutes(gross) %></td> -->
		<td><%= !has_cases ? "n/a" : to_minutes(net) %></td>
	<!-- 	<td><%= !has_cases ? "n/a" : to_minutes(avg_gross) %></td> -->
		<td><%= !has_cases ? "n/a" : to_minutes(avg_net) %></td>
		<td><a href="<%= is_active ? l('test' => '') : l('test' => suite.id.to_s)  %>"><nobr><%= is_active ? "hide" : "show" %> details</nobr></a></td>
		<td><a href="<%= l('test' => suite.id.to_s, 'action' => 'delete')  %>">delete</a></td>
		</td>
	</tr>
	<% } %>
	</tbody>
</table>

<% if test_suite %>

	<h3>Test Cases</h3>
	<table class="tablesorter">
	<thead>
		<tr><th>ID</th><th>Executing Host</th><th>Repeated Tasks</th>
		<th>Skipped Tasks</th><th>Success</th><th>Actions</th></tr>
	</thead>
	<tbody>
		<% test_suite.test_cases.each do |test| %>
		<tr><td><%= test.uuid %></td>
		<td><%= test.executing_host %></td>
		<td><%= test.repeat_task_uuids %></td>
		<td><%= test.skip_task_uuids%></td>
		<td><%= test.success %></td>
		<td><input type="submit" name="reset_<%=test.uuid%>" value="Reset Test Run (!)"/>
		<% if test.automation_run && test.automation_run.id %>
		<br/><a href="<%= l('t' => 'tasks', 'run' => test.automation_run.id) %>">Show execution details</a>
		<% end %>
		</td></tr>
		<% end %>
	</tbody>
	</table>

	<h3>Coverage Settings</h3>
	<table>
		<tr><td><b>Idempotence</b></td><td colspan="2"><input type="checkbox" 
			name="testIdempotence" <%= checkbox_checked('testIdempotence') %>/> Add itempotence test criterion</td></tr>
		<tr><td><b>Combinations</b></td>
			<td>skip-N:</td><td>N &#8712; {<input type="text" name="skipN" value="<%= param('skipN') %>"/>}</td></tr>
			<tr><td></td><td>skip-N-successive:</td><td>N &#8712; {<input type="text" name="skipNsucc" value="<%= param('skipNsucc') %>"/>}</td></tr>
			<tr><td></td><td>combine-N:</td><td>N &#8712; {<input type="text" name="combineN" value="<%= param('combineN') %>"/>}</td></tr>
			<tr><td></td><td>skip-N-successive:</td><td>N &#8712; {<input type="text" name="combineNsucc" value="<%= param('combineNsucc') %>"/>}</td></tr>
		<tr><td></td><td colspan="2"><input type="submit" name="compCoverage" value="Compute Coverage"/></td></tr>
	</table>
	<% if test_coverage && state_graph 
		states = state_graph.nodes().size
		states_cov = test_coverage.covered_states().size
		states_perc = states_cov.to_f / states.to_f * 100
		trans = state_graph.edges().size
		trans_cov = test_coverage.covered_transitions().size
		trans_perc = trans_cov.to_f / trans.to_f * 100
	%>
	<h3>Coverage Results</h3>
	<table>
		<thead>
		<tr><th>Type</th><th>Total</th><th>Covered</th><th>Coverage</th></tr>
		</thead><tbody>
		<tr><td>States</td><td><%= states %></td><td><%= states_cov %></td><td><%= format_float(states_perc) %>%</td></tr>
		<tr><td>Transitions</td><td><%= trans %></td><td><%= trans_cov %></td><td><%= format_float(trans_perc) %>%</td></tr>
		</tbody>
	</table>
	<% end %>

<% end %>

<%= get_page_footer() %>
</form>
</div>