<div>
<%= render_errors() %>
<%
require "toaster/model/automation"
require "toaster/markup/markup_util"

autos = []
auto = nil
message = nil

init_mongo() && begin

	autos = Toaster::Automation.find()
	auto = get_automation_for_param()

	if auto && param('saveIgnored') != ""
		auto.ignore_properties = param('ignoredProps').split(/\s*\n\s*/)
		auto.save
		message = "Successfully saved ignore properties for automation."
	end

	if auto && param('saveAddit') != ""
		auto.additional_state_configs = MarkupUtil.parse_json(param('additProps'))
		auto.save
		message = "Successfully saved additional state change properties for automation."
	end

	set_param("action", nil)
	set_param("confirmed", nil)
	if auto && param('action') == "delete"
		if param('confirmed') == "1"
			message = "Successfully deleted automation."
            auto.delete()
            load_cache()
            Toaster::Cache.clear()
            autos = Toaster::Automation.find()
            set_param("action", "")
            set_param("confirmed", "")
		else
			message = "<a href='#{l("t" => "auto", "confirmed" => "1", "action" => "delete")}'>Click here</a> 
               to confirm deletion of automation and all associated tasks, 
               or <a href='#{l("action" => "")}'>click here</a> to cancel."
		end
	end
rescue => ex
	%>
	<div class="error">ERROR: <%= ex %> : <%= ex.backtrace %></div>
	<%
end

%>
<form action="<%= l({'p' => 'auto'}) %>" method="post">
<h2>Automations</h2>
<% if message %>
<div class="info"><%= message %></div>
<% end %>
<table class="tablesorter">
<thead>
<tr>
	<th>#</th><th>Name</th><th>Chef Run List</th><th>Tasks</th>
	<th>Attributes</th><th>Runs</th><th colspan="4">Actions</th></tr>
</thead>
<tbody>
<% autos.each_with_index { |row,id| 
t = Time.now.to_i
active = row.id.to_s == param('auto')
param_auto = active ? "" : row.id
param_hash = {"auto" => param_auto, "run" => "", "task" => "", "exe" => ""}
num_runs = row.get_num_runs
chef_run_list = row.chef_run_list
globally_executed_tasks = row.get_globally_executed_tasks
%>
<tr<%= active ? " class=\"active\"" : "" %>>
	<td><%= id+1 %></td>
	<td><%= row.name %></td>
	<td><%= chef_run_list %></td>
	<td><%= globally_executed_tasks.size %></td>
	<td><%= row.get_flat_attributes.size %></td>
	<td><%= num_runs %></td>
	<td><a href="<%= l(param_hash) %>"><%= active ? "hide" : "show" %> details</a></td>
	<td><% if num_runs >= 1 %><a href="<%= l(param_hash.merge('t' => 'runs', 'auto' => row.id)) %>">show runs</a><% end %></td>
	<td><a href="<%= l(param_hash.merge('t' => 'tasks', 'auto' => row.id)) %>">show tasks</a></td>
	<td><a href="<%= l(param_hash.merge('auto' => row.id, 'action' => 'delete')) %>">delete</a></td>
</tr>
<% } %>
</tbody>
</table>

<% if auto %>
	<h3>Details of Automation '<%= auto.name %>'</h3>
	<h4>Automation Parameters</h4>
	<table class="tablesorter">
	<thead>
	<tr><th>#</th><th>Parameter</th><th>Default Value</th><th>Used Values</th></tr>
	</thead>
	<tbody>
	<% id = 0
	auto.get_flat_attributes().each { |name,val| 
	seen_values = auto.get_seen_attribute_values()
	%>
	<tr>
		<td><%= id=id+1 %></td>
		<td><%= name %></td>
		<td><%= val %></td>
		<td><% 
			if seen_values[name] 
				seen_values[name].each do |seen_val| %>
		<span><%= seen_val %></span>
		<% 		end
			end %>
		</td>
	</tr>
	<% } %>
	</tbody>
	</table>

	<h4>Ignored State Properties</h4>
	(Add one property name per line)<br/>
	<textarea rows="5" cols="50" name="ignoredProps"><% auto.ignore_properties.each do |p| %><%= p %>
<% end %></textarea><br/>
	<input type="submit" name="saveIgnored" value="Save"/>

	<h4>Additional State Change Configurations</h4>
	(Add JSON encoded hash)<br/>
	<textarea rows="5" cols="50" name="additProps"><%= 
		auto.additional_state_configs ? 
			Toaster::MarkupUtil.to_json(auto.additional_state_configs) :
			"{}"
	%></textarea><br/>
	<input type="submit" name="saveAddit" value="Save"/>

	<h4>All Affected State Properties</h4>
	<table class="tablesorter">
		<thead>
		<tr><th>Property Name</th></tr>
		</thead>
		<% 	begin
				auto.all_affected_property_names.each do |p| %>
		<tr><td><%= p %></td></tr>
		<% 		end
			rescue => ex %>
		 <tr><td>[Error: <%= ex %>]</td></tr>
		<% 	end %>
	</table>
	
<% end %>

<%= get_page_footer() %>
</form>
</div>